.jumbotron
{
    background: url('https://images.pexels.com/photos/248174/pexels-photo-248174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center 25%;
    
    background-size:cover;
    /*color: white;*/
    /*text-shadow: 1em 1em 1em var(--black);*/
    /*font-family: var(--font one);*/
    
    text-align:center;
    height: 800px;
}
.display-4 {
    font-family: var(--font-one);
    text-align:center;
        }
.lead{
    font-family: var(--font one)
}