.jumbotron
{
    background: transparent;
    background-size:cover;
    color: #3d3d34;
    font-family: var(--font one);
    text-align:center;
    height: 500px;
}
.name{
    font-size: 80px;

}
    .jumbotroncontent{
        width: 410px;
        font-size: 26px;
        line-height: 40px;
        color: #1b1b18;
        margin: 1em auto 0;
        
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }