

/*  */
/* .navbarcontent{
  word-spacing: normal;


}
body {
  padding: 20px 0px 20px 00px;
}

.navbar {
  background-color: #000;
  word-spacing: normal;
}
.container{
  word-spacing: normal;
}
#nav-item{
  word-spacing: normal;

} */
